@import "../../../core/style//index.scss";

.page {
    display: flex;
    flex-direction: column;

    &__header {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding: 10px;
    }

    &__title {
        @include title;
    }

    &__nav-list{
        display: flex;
        column-gap: 10px;
    }
    
    &__nav-item__link {
        padding: 5px;
        &--current{
            background-color: rgba($color: #000000, $alpha: .2);
        }
    }

}