.square {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    border: none;
    
    &:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: .1);
        outline: 1px solid black;
    }
}