@import "../../../core/style/index.scss";

.homepage {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    padding: 20px;

    &__title{
        @include title;
    }

    &__example{
        border-radius: 5px;
        border: 1px solid black;
        padding: 16px;
    }
}

