.board {
    align-self: center;
    &__square-list{
        $square-size: 50px;
        display: grid;
        grid-template-columns: repeat(3, $square-size);
        grid-template-rows: repeat(3, $square-size);
        place-items: center;
    }

    &__square-item {
        list-style: none;
        outline: 1px solid black;
        width: 100%;
        height: 100%;
    }
}