@import "../../../core/style/index.scss";

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    &__title{
        @include title;
    }

    &__board{}

    &__controls {
        display: flex;
        align-items: space-between;
        column-gap: 1em;

    }

    &__previous, &__next {
        width: 5em;
    }
}